rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /products/{productId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }

    match /config/{document} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /{document=**} {
      allow read: if true; // Permitir leitura de tudo por padrão
      allow write: if false;
    }

    function isAdmin() {
      return request.auth != null
        && request.auth.token.email == 'admin@liontech.local';
    }
  }
}
