rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /produtos/{fileName} {
      allow read: if true;
      allow write: if isAdmin()
        && request.resource != null
        && request.resource.contentType.matches('image/.*')
        && request.resource.size < 10 * 1024 * 1024;
    }

    match /hero/{fileName} {
      allow read: if true;
      allow write: if isAdmin()
        && request.resource != null
        && (request.resource.contentType.matches('image/.*') || request.resource.contentType.matches('video/.*'))
        && request.resource.size < 50 * 1024 * 1024; // Permitir até 50MB para vídeos
    }

    match /{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }

    function isAdmin() {
      return request.auth != null
        && request.auth.token.email == 'admin@liontech.local';
    }
  }
}
